.DS_Store
OpenWPM/firefox-bin/*
OpenWPM/Extension/*
OpenWPM/datadir-*/*
OpenWPM/openwpm/__pycache__/*
multi-crawl.log
OpenWPM/__pycache__/*
OpenWPM/openwpm/commands/__pycache__/*
OpenWPM/openwpm/commands/utils/__pycache__/*
OpenWPM/openwpm/storage/__pycache__/*
OpenWPM/openwpm/utilities/__pycache__/*
OpenWPM/openwpm/deploy_browsers/__pycache__/*
OpenWPM/Extension/firefox/package-lock.json
OpenWPM/Extension/webext-instrumentation/package-lock.json
OpenWPM/datadir_*
OpenWPM/urls/*
*/package-lock.json
*.log
Pipeline/classification/results/*
Pipeline/graph_scripts/__pycache__
Pipeline/classification/graph_scripts/__pycache__
Pipeline/labelling_scripts/__pycache__
Pipeline/feature_scripts_cookies/__pycache__
Pipeline/labelling_scripts/filterlists
Pipeline/filterlists
Pipeline/labels_new_*.csv
Pipeline/graph_*.csv
Pipeline/features_*.csv
Pipeline/exfils_*.csv